.about-content {
    background-color: white;
    height: 100vh;
}

.teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed */
}

.team-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed */
}

.team-member {
  flex: 1;
  max-width: 300px; /* Set a maximum width for each team member card */
  padding: 15px;
  margin: 15px;
  text-align: center;
  box-sizing: border-box;
}

.team-member img {
  max-width: 100%;
  height: auto;
  border-radius: 50%; /* Make the image circular */
}