.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  flex: 1;
}

.wrapper {
  position: absolute;
  color: #000000;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 2%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.wrapper.active {
  height: 400px;
}

.wrapper.form-box {
  width: 100%;
}

.wrapper .form-box.authorizedUser {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.authorizedUser {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.unauthorizedUser {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.unauthorizedUser {
  transform: translateX(0);
}

.form-box h2 {
  font-size: 2em;
  text-align: center;
}

.form-box p {
  text-align: center;
}

.input-box {
  position: relative;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 30px 0;
  display: flex;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  line-height: 57px;
}

.btn-paypal {
  text-align: center;
  transition: .5s;
}

.btn-paypal.disabled {
  opacity: 0.5; /* Adjust opacity to make it appear faded */
  cursor: not-allowed; /* Visual indication that it's disabled */
  pointer-events: none;
  transition: .5s;
}

/* Tablet styles (e.g., screens between 768px and 1024px wide) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
.wrapper {
  padding: 5%;
}
.container {
  height: 700px;
}
}

/* Mobile styles (e.g., screens less than 768px wide) */
@media screen and (max-width: 767px) {
.wrapper {
    padding: 10%;
}
.container {
  height: 500px;
}
}